<div class="container">
  <div class="row">
    <%= form_for(@item,url:admin_item_path, html: {method: :patch}) do |f| %>
    <h3>商品一覧</h3>
    <div class="col-md-4">
     <div class="field">
       <%= f.label :img, "商品画像" %>
       <%= f.attachment_field :img, class: "img" %>
       </div>
    </div>
    <div class="col-md-4">
     <div class="field">
     <%= f.label :name, "商品名" %>
     <%= f.text_field :name, class: "name" %>
   </div>

    <div class="field">
     <%= f.label :explanation, "商品説明" %>
     <%= f.text_field :explanation, class: "explanation" %>
   </div>

     <div class="dropdown">
      <%= f.label :genre, "ジャンル" %>
           <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
       </div>

       <div class="field">
     <%= f.label :price, "税抜価格" %>
     <%= f.text_field :price, class: "price" %>円
   </div>

         <div class="dropdown">
         　<%= f.label :status, "販売ステータス" %>
          <%= f.select :status, [["販売中", true],["売り切れ", false]], include_blank: "選択して下さい" %>
         </div>
    </div>
    </div>

<div class="col-xs-offset-9 col-md-3">
		<%= f.submit "変更を保存", class: "btn btn-primary" %><% end %>
  </div>
  </div>