<div class="container">
  <div class="row">
    <%= form_for(@item,url:admin_item_path, html: {method: :patch}) do |f| %>
    <h3>商品編集</h3>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :img, "商品画像" %>
        <%= f.attachment_field :img, class: "img" %>
      </div>
    </div>
    <div class="col-md-4">
      
      <form class="form-horizontal">
        <div class="form-group">
        <%= f.label :name, "商品名", class: "col-sm-5 control-label" %>
        <%= f.text_field :name, class: "name" %>
        </div>
      </form>

      <form class="form-horizontal">
        <div class="form-group">
        <%= f.label :explanation, "商品説明", class: "col-sm-5 control-label" %>
        <%= f.text_field :explanation, class: "explanation" %>
        </div>
      </form>

      <form class="form-horizontal">
        <div class="dropdown form-group">
        <%= f.label :genre, "ジャンル", class: "col-sm-5 control-label" %>
             <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
        </div>
      </form>

      <form class="form-horizontal">
        <div class="form-group">
        <%= f.label :price, "税抜価格", class: "col-sm-5 control-label" %>
        <%= f.text_field :price, class: "price" %>円
        </div>
      </form>

      <form class="form-horizontal">
         <div class="dropdown　form-group">
         <%= f.label :status, "販売ステータス", class: "col-sm-6 control-label" %>
         <%= f.select :status, [["販売中", true],["売り切れ", false]], include_blank: "選択して下さい" %>
         </div>
      </form>
    </div>

    <div class="col-xs-offset-9 col-md-3">
    		<%= f.submit "変更を保存", class: "btn btn-primary" %><% end %>
    </div>
  </div>
</div>