<div class="row">
	<div class="col-md-offset-1 col-md-6">
		<h2>ショッピングカート</h2>
	</div>
	<div class="col-md-offset-2 col-md-2">
		<%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class:"btn btn-danger" %>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<!-- カート内商品一覧 -->
		<table class="table">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @sum = 0 %>
				<% @cart_items.each do |cart_item| %>
				<tr>
					<td><%= cart_item.item.name %></td>
					<td><%= cart_item.price_tax %></td>
					<td>
						<%= form_for cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
						<%= f.select :quantity, options_for_select(@numbers, { selected: cart_item.quantity.to_i } ) %>
						<%= f.submit "変更", class:"btn btn-primary btn-sm" %>
						<% end %>
					</td>
					<td><%= cart_item.subtotal %></td>
					<td><%= link_to "削除", cart_item_path(cart_item.id), method: :delete, class:"btn btn-danger" %></td>
					<td><% @sum += cart_item.subtotal %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-2">
		<div data-turbolinks="false">
			<%= link_to "買い物を続ける", root_path, class:"btn btn-primary" %>
		</div>
	</div>
	<div class="col-md-offset-5 col-md-2">
		<table class="table table-bordered">
			<tbody>
				<th>合計金額</th>
				<td><%= @sum %></td>
			</tbody>
		</table>
	</div>	
</div>
<div class="row">
	<div class="col-md-offset-5">
		<%= link_to "注文情報入力画面へ", new_order_path, class:"btn btn-success btn-lg" %>
	</div>
</div>