	<div class="row">
		<div class="col-md-2">
		<%= render 'shared/genre'%>
	</div>
		 <div class="col-offset-1 col-md-9">
				<!--	unless genre_serch?-->
		<div class="items">
			<h3>商品一覧(全<%= @item.count %>件)</h3>
	        　　<% @items.each do |item| %>
	            <div class="item">
			       <%= link_to item_path(item) do %>
				     <%=attachment_image_tag(item,:img ,:fill,150,150,fallback:"noimg.jpg",size:"250x250") %><br>
				     <%= item.name %>
				     <%= item.price %>円
				     <% end %>
		         </div>
	           <%end%>
	    </div>
	</div>
</div>
<div class="col-md-offset-10">
<%= paginate @items %>
</div>

<!-- レイアウト　画像の間隔を横並びのまま開けたい -->