
<div class="container">
	<div class="row">
		<%= render "shared/genre"%>

				 <div class="col-md-10 col-md-offsite-3">
					<div class="text-left col-md-10 col-md-offsite-3">
						<p>ようこそNganoCakeへ！<br>
						このサイトはケーキ販売のECサイトになります<br>
					     会員でない方も商品の一覧はできますが、<br>
						   購入には会員登録が必要になります。</p>
				    </div>

<!-- 					真ん中にback-groundimage-->

					 <div class="col-md-10">
						<h1>オススメ商品</h1>
							<div class="col-md-2">
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <br>
							      <p>order_name</p>
							       <p><= 0,000000></p>
								   <p><%=  %></p><!-- user.name -->
						    </div>
						    <div class="col-md-2">
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p><!--  <th>< attachment_image_tag ></th> -->
							     <br>
							      <p>order_name</p>
							       <p><0,000000></p>
								   <p><%=   %></p><!-- user.name -->
						    </div>
						    <div class="col-md-2">
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p><!--  <th>< attachment_image_tag ></th> -->
							     <br>
							      <p>order_name</p>
							       <p><0,000000></p>
								   <p><%=   %></p><!-- user.name -->
						    </div>
						    <div class="col-md-2">
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p><!--  <th>< attachment_image_tag ></th> -->
							     <br>
							      <p>order_name</p>
							       <p><0,000000></p>
								   <p><%=   %></p><!-- user.name -->
								   <%=link_to "もっと見る >",items_path , class:"btn btn-primary"%>
						    </div>
		             </div>
	</div>
</div>