
<div class="container">
	<div class="row">
		<%= render "shared/genre"%>
				<div class="col-md-10">


					<div>
						<p>ようこそNganoCakeへ！</p>
						<p>このサイトはケーキ販売のECサイトになります</p>
						<p>会員でない方も商品の一覧はできますが、</p>
						<p>購入には会員登録が必要になります。</p>
					</div>
<!-- 					真ん中にback-groundimage
 -->			   </div>
					 <div class="col-md-10">
						<h1>オススメ商品</h1>
							<div>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <br>
							      <p>order_name</p>
							       <p><= 0,000000></p>
								   <p><%=   %></p><!-- user.name -->
						    </div>
						    <div>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p><!--  <th>< attachment_image_tag ></th> -->
							     <br>
							      <p>order_name</p>
							       <p><0,000000></p>
								   <p><%=   %></p><!-- user.name -->
						    </div>
						    <div>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p><!--  <th>< attachment_image_tag ></th> -->
							     <br>
							      <p>order_name</p>
							       <p><0,000000></p>
								   <p><%=   %></p><!-- user.name -->
						    </div>
						    <div>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p>
							     <p>imgeimgeimgeimge</p><!--  <th>< attachment_image_tag ></th> -->
							     <br>
							      <p>order_name</p>
							       <p><0,000000></p>
								   <p><%=   %></p><!-- user.name -->
						    </div>
				        <!--  <link_to _path,class: "glyphicon glyphicon-wrench" > -->
		  </div>
	</div>
</div>