
	<div class="row">
		<div class="col-md-offset-1 col-md-8">
			<h3>マイページ</h3>
			<span>
				登録情報
				<div>
					<%= link_to edit_customer_registration_path, class:"btn btn-primary"  do %>→push編集<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></i>

					<% end %>
				</div>
				<div>
					<%= link_to "", class:"btn btn-primary"  do %>→pushパスワード更新<span class="glyphicon glyphicon-refresh" aria-hidden="true">l
					<% end %>
				</div>

			<div class="row pt-10">
				<!-- 登録情報 -->
				<table class="table-bordered">
					<therd>
						<tr>
							<th class="col-md-2">氏名</th>
							<td class="col-md-5"><%= @customer.full_name %></td>
						</tr>
						<tr>
							<th class="col-md-2">カナ</th>
							<td class="col-md-5"><%= @customer.full_name_kana %></td>
						</tr>
						<tr>
							<th class="col-md-2">郵便番号</th>
							<td class="col-md-5"><%= @customer.postcode %></td>
						</tr>
						<tr>
							<th class="col-md-2">住所</th>
							<td class="col-md-5"><%= @customer.address %></td>
						</tr>
						<tr>
							<th class="col-md-2">電話番号</th>
							<td class="col-md-5"><%= @customer.phone_number %></td>
						</tr>
						<tr>
							<th class="col-md-2">メールアドレス</th>
							<td class="col-md-5"><%= @customer.email %></td>
						</tr>
					</therd>
				</table>
				<div>
					<h3>配送先</h3>
					<%= link_to shipping_addresses_path, class:"btn btn-primary"  do %>→push<span class="glyphicon glyphicon-apple" aria-hidden="true"></span>

					<% end %>
				</div>

					<h3>注文履歴</h3>
					<%= link_to orders_history_path, class:"btn btn-primary" do %>→push<span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
					<% end %>
				</div>

			</div>
		</div>
	</div>


