<div class="row">
	<h2>注文確認画面</h2>
	<div class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @cart_items.each do |cart_item| %>
				<tr>
					<td><%= cart_item.item.name %></td>
					<td><%= cart_item.price_tax %></td>
					<td><%= cart_item.quantity %></td>
					<td><%= cart_item.subtotal %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<span><strong>支払い方法</strong><%= @order.payment_method %></span><br>
		<span><strong>お届け先</strong><%= @order.address_all %></span>
	</div>
	<div class="col-md-offset-1 col-md-2">
		<table class="table">
			<tbody>
				<tr>
					<th>送料</th>
					<td><%= @order.shipping_cost %></td>
				</tr>
				<tr>
					<th>商品合計</th>
					<td></td>
				</tr>
				<tr>
					<th>請求金額</th>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>