
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="history-title">
			<h2>注文履歴一覧</h2>
		</div>

		<div class="table-back">
			<table class="table">
				<thead>
					<tr>
						<th>注文日</th>
						<th>配送先</th>
						<th>注文商品</th>
						<th>支払金額</th>
						<th>ステータス</th>
						<th>注文詳細</th>
					</tr>
				</thead>
				<tbody>
					<!-- orderデータの全てeachで回す -->
					<% @orders.each do |order| %>
					    <tr>
					    	    <!--   注文日   -->
					    	<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
					    	    <!--  配送先 郵便番   -->     <!-- 配送先 住所 -->     <!--   宛名   -->
					    	<td><%= order.postal_code %><br><%= order.address %><br><%= order.name %></td>
					    	<td>
					    		<!--  orderモデルに紐付いたorder_itemのデータ  -->
					    		<% order.ordered_items.each do |ordered_item| %>
					    		    <%= ordered_item.item.name %><br>
					    		<% end %>
					    	</td>
					    	<td><%= order.total_payment %>円</td>
					    	<td><%= order.status %></td>
					    	<td><%= link_to '表示する',history_path(order), class: 'btn btn-info' %></td>
					    </tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

